{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "COSMOS_CONNECTION_STRING": "",
    "COSMOS_DATABASE_NAME": "paultrading",
    "FIREBASE_PROJECT_ID": "",
    "FIREBASE_CLIENT_EMAIL": "",
    "FIREBASE_PRIVATE_KEY": "",
    "TWELVE_DATA_API_KEY": "",
    "GMAIL_USER": "",
    "GMAIL_APP_PASSWORD": ""
  },
  "Host": {
    "CORS": "*"
  }
}
